{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias":
        {
          "@": "./source/common",
          "~": "./source/scenes",
          "%": "./source/assets"
        }
      }
    ]
  ]
}